# Supabase Configuration
SUPABASE_URL=https://uhrznarpojjgumnepnlh.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVocnpuYXJwb2pqZ3VtbmVwbmxoIiwicm9sZSI6InNlcnZpY2UiLCJpYXQiOjE3NzYyNTc0ODgsImV4cCI6MjA5MTgzMzQ4OH0.miCy743HcS4pTMVNvoCyZ3McsbHFQHr8p52dIbaFAuk

# App Configuration
PORT=3000
NODE_ENV=development